<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.interfaces.dao.AgentDao">
	<!--代理商信息 -->
	<resultMap type="com.bc.interfaces.model.Agent" id="agentMap">
		<id property="id" column="id" />
		<result property="agtName" column="agt_name" />
		<result property="applyTime" column="apply_time" />
		<result property="agtPhone" column="agt_phone" />
		<result property="agtNo" column="agt_no" />
		<result property="saler" column="saler" />
		<result property="parentId" column="parent_id" />
		<result property="agtOfficeAddr" column="agt_office_addr" />
		<result property="linkName" column="link_name" />
		<result property="linkMobile" column="link_mobile" />
		<result property="remark" column="remark" />
		<result property="agtType" column="agt_type" />
		<result property="idCard" column="id_card" />
		<result property="state" column="state" />
		<result property="email" column="email" />

		<collection column="agt_no" property="bankInfoList"
					ofType="com.bc.interfaces.model.BankInfo">
			<result column="card_no"  property="cardNo"></result>
			<result column="status"  property="status"></result>
		</collection>

	</resultMap>

	<select id="getAgentInfoByNo" parameterType="java.lang.String"
		resultMap="agentMap">
		select * from bc_agent where agt_no = #{agtNo}
	</select>

	<select id="getAgentInfoByPhone" parameterType="java.lang.String"
		resultMap="agentMap">
		select * from bc_agent where agt_phone = #{agtPhone}
	</select>

	<select id="getOnlineAgent" resultMap="agentMap">
		select * from bc_agent
		where agt_type = 2
	</select>

	<select id="getDbAgentInfoByPhone" parameterType="java.lang.String"
		resultType="java.util.Map">
		select b.trade_pwd, c.app_key
		from bc_agent a, bc_agtsecurity b, bc_agtaccess c
		where a.agt_no = b.agt_no
		and a.agt_no = c.agt_no
		and a.agt_phone = #{agtPhone}
	</select>

	<!--代理商安全相关 -->
	<resultMap type="com.bc.interfaces.model.AgtSecurity" id="agtSecurityMap">
		<result property="agtNo" column="agt_no" />
		<result property="loginPwd" column="login_pwd" />
		<result property="tradePwd" column="trade_pwd" />
		<result property="screenSwitch" column="screen_switch" />
	</resultMap>

	<resultMap type="com.bc.interfaces.model.vo.AgtSecurityVo" id="agtSecurityVoMap">
		<result property="agtNo" column="agt_no" />
		<result property="loginPwd" column="login_pwd" />
		<result property="tradePwd" column="trade_pwd" />
		<result property="screenSwitch" column="screen_switch" />
		<result property="state" column="state" />
	</resultMap>

	<select id="getAgtSecurityInfo" parameterType="java.lang.String"
		resultMap="agtSecurityMap">
		select * from bc_agtsecurity where agt_no = #{agtNo}
	</select>


	<select id="verifyOrder" parameterType="java.lang.String"
		resultMap="agtSecurityVoMap">
		select a.agt_no,a.trade_pwd,b.state from bc_agtsecurity a
		LEFT JOIN bc_agent b on b.agt_no=a.agt_no where b.agt_phone =
		#{agtPhone}
	</select>

	<!-- 查询手机号码在当天可充值次数 -->
	<select id="checkAllowCharge" resultType="java.lang.Integer"
		parameterType="java.lang.String">
		SELECT
		count(*) as result
		FROM
		bc_order_charge
		WHERE
		apply_time BETWEEN str_to_date(
		DATE_FORMAT(NOW(), '%Y-%m-%d'),
		'%Y-%m-%d
		%H:%i:%s'
		)
		AND DATE_ADD(
		DATE_ADD(
		str_to_date(
		DATE_FORMAT(NOW(), '%Y-%m-%d'),
		'%Y-%m-%d %H:%i:%s'
		),
		INTERVAL 1 DAY
		),
		INTERVAL - 1 SECOND
		) and charge_addr = #{mobile} and state = '1'
	</select>

	<!-- 修改登录密码 -->
	<update id="updateAgtLoginPwd" parameterType="com.bc.interfaces.model.AgtSecurity">
		update
		bc_agtsecurity set login_pwd = #{loginPwd} where agt_no = #{agtNo}
	</update>

	<!-- 修改交易密码 -->
	<update id="updateAgtTradePwd" parameterType="com.bc.interfaces.model.AgtSecurity">
		update
		bc_agtsecurity set trade_pwd = #{tradePwd} where agt_no = #{agtNo}
	</update>


	<!-- 查询代理商秘钥 -->
	<select id="getAgtAccessByAgtPhone" parameterType="java.lang.String"
		resultType="com.bc.interfaces.model.AgtAccess">
		select id id,agt_no agtNo,app_id appId,app_key appKey from
		bc_agtaccess where agt_no = (select agt_no from bc_agent where
		agt_phone
		= #{agtPhone})
	</select>

</mapper>