<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.interfaces.dao.BankDao">
	<!--代理商信息 -->
	<resultMap type="com.bc.interfaces.model.BankInfo" id="bankMap">
		<id property="id" column="id" />
		<result property="agtPhone" column="agt_phone" />
		<result property="actionType" column="action_type" />
		<result property="sourceId" column="source_id" />
		<result property="cardNo" column="card_no" />
		<result property="bankAccount" column="bank_account" />
		<result property="bankMark" column="bank_mark" />
		<result property="bankName" column="bank_name" />
		<result property="status" column="status" />
		<result property="bankType" column="bank_type" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="getAgentBankList" parameterType="java.lang.String" resultMap="bankMap">
		select id,card_no,agt_phone from bc_bank_info where agt_phone = #{agtPhone} and status = 0
	</select>

</mapper>