<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ChannelSupplierMapper">
	<resultMap id="BaseResultMap" type="com.bc.interfaces.model.ChannelSupplier">
		<id column="channel_num" property="channelNum" jdbcType="VARCHAR" />
		<result column="channel_name" property="channelName" jdbcType="VARCHAR" />
		<result column="adapter_name" property="adapterName" jdbcType="VARCHAR" />
		<result column="passwd" property="passwd" jdbcType="VARCHAR" />
		<result column="merch_id" property="merchId" jdbcType="VARCHAR" />
		<result column="channel_Key" property="channelKey" jdbcType="VARCHAR" />
		<result column="make_order_url" property="makeOrderUrl"
			jdbcType="VARCHAR" />
		<result column="query_url" property="queryUrl" jdbcType="VARCHAR" />
		<result column="balance_url" property="balanceUrl" jdbcType="VARCHAR" />
		<result column="notify_url" property="notifyUrl" jdbcType="VARCHAR" />
		<result column="sign" property="sign" jdbcType="DECIMAL" />
		<result column="free1" property="free1" jdbcType="VARCHAR" />
		<result column="free2" property="free2" jdbcType="VARCHAR" />
	</resultMap>
	

	<!-- 根据供应商编码查询供应商 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select * from bc_channel_info where channel_num =
		#{channelNum,jdbcType=VARCHAR}
	</select>

	<select id="getNotifyInfo" resultType="map" parameterType="java.lang.String">
		select c.adapter_name adapterName,b.agt_phone agtPhone,
		b.down_order_no reqStreamId,b.price chargeMoney,b.charge_addr chargeAddr
		from bc_order_charge b
		left join bc_channel_info c on c.channel_num =b.up_chanel
		left join bc_agent ba on b.agt_no = ba.agt_no
		where b.order_no=#{0} limit 1
	</select>
	
	<!-- 通道余额不足关闭对应通道 -->
	<update id="updateChannelStatus">
	   update bc_channel_info set channel_st = -1,manual_flag = -1 where channel_num = #{channelNum}
	</update>
</mapper>