<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfs.interfaces.dao.ProductDao">
	<!--产品信息 -->
	<select id="getProductRightByAgtNo" parameterType="java.util.Map"
		resultType="com.lfs.interfaces.model.Product">
		select p.product_num productCode,p.business_num
		businessCode,p.number_id arriveType,p.product_type productType,
		p.trade_face tradeFace, p.price,p.special_type specialType,pg.discount
		from
		lfs_userrelationptgroup
		ug,lfs_productrelationgroup pg,lfs_product p
		,lfs_productgroup g
		where
		ug.user_num = #{agtNo}
		AND ug.group_num = pg.group_num
		AND pg.product_num = p.product_num
		AND g.group_num = ug.group_num
		AND p.state = 1
		AND g.group_state = 1
		AND pg.product_state = 1
		<if test="null !=productCode and ''!=productCode">
			and pg.product_num = #{productCode}
		</if>
		<if test="null != productType and ''!=productType">
			AND p.product_type = #{productType}
		</if>
		<if test="null != businessCode and '' != businessCode">
			and p.business_num = #{businessCode}
		</if>
		<if test="null != chargeMoney and '' != chargeMoney">
			and p.trade_face = #{chargeMoney}
		</if>
		<if test="chargeType!=null and chargeType!=''">
			and p.number_id=#{chargeType}
		</if>
		order by pg.discount desc limit 1


	</select>

	<!-- 获取产品 -->
	<select id="getProductByAgtInfo" parameterType="java.util.Map"
		resultType="com.lfs.interfaces.model.Product">
		SELECT
		p.product_num productCode,
		p.business_num businessCode,
		p.number_id arriveType,
		p.trade_face tradeFace,
		p.price price,
		pg.discount discount,
		p.special_type specialType
		FROM
		lfs_userrelationptgroup ug,
		lfs_productrelationgroup pg,
		lfs_product p,
		lfs_productgroup g
		WHERE
		ug.user_num = #{agtNo}
		AND ug.group_num = pg.group_num
		AND pg.product_num =
		p.product_num
		AND g.group_num = ug.group_num
		AND p.state = 1
		AND
		g.group_state = 1
		AND pg.product_state = 1
		AND p.product_type =
		#{productType}
		and p.trade_face = #{chargeMoney}
		and p.business_num = #{businessCode}
		limit 1

	</select>


	<!-- 获取实名认证产品 -->
	<select id="getProductCodeByAuth" parameterType="java.util.Map"
		resultType="com.lfs.interfaces.model.Product">
		select p.product_num productCode,p.business_num businessCode,
		p.trade_face tradeFace, p.price,pg.discount
		from
		lfs_userrelationptgroup ug,lfs_productrelationgroup pg,lfs_product
		p,lfs_productgroup g
		where
		ug.user_num=#{agtNo}
		<if test="businessType!=null and businessType!=''">
			and p.business_num = #{businessType}
		</if>
		and ug.group_num=pg.group_num
		and pg.product_num = p.product_num
		and
		g.group_num = ug.group_num
		and p.state=1
		and g.group_state=1
		and
		pg.product_state = 1
	</select>

	<!--产品信息 -->
	<select id="getProductListByAgtNo" parameterType="java.lang.String"
		resultType="com.lfs.interfaces.model.Product">
		select p.product_num productCode,p.business_num
		businessCode,p.number_id arriveType,
		p.trade_face tradeFace, p.price,pg.discount,b.business_name businessName
		from
		lfs_userrelationptgroup
		ug,lfs_productrelationgroup pg,lfs_product p
		,lfs_productgroup g,lfs_businesstype b
		where
		ug.user_num=#{agtNo}
		and
		ug.group_num=pg.group_num
		and pg.product_num = p.product_num
		and
		g.group_num = ug.group_num
		and p.business_num = b.business_num
		and
		p.state=1
		and g.group_state=1
		and pg.product_state = 1
	</select>

	<select id="getChannelInfoById" parameterType="java.lang.String"
		resultType="com.lfs.interfaces.model.ChannelInfo">
		select channel_num channelNo, c.channel_name
		channelName,c.channel_detail channelDetail,c.channel_st channelState
		from lfs_channel_info c
		where c.channel_num=#{channelNo}
	</select>


	<select id="getproductCode" parameterType="java.util.Map"
		resultType="java.lang.String">
		select a.product_num
		from (select t3.product_num from lfs_userrelationptgroup p,
		lfs_agent t,
		lfs_productrelationgroup t2,
		lfs_product t3
		where p.user_num = t.agtno
		and t.agt_phone = #{agtphone}
		and t2.product_state = 1
		and t3.state = 1
		and p.group_num = t2.group_num
		and t2.product_num = t3.product_num
		and t3.business_num = #{businessType}
		and t3.trade_face = #{tradeface}
		limit 1

	</select>

	<select id="getAdapter" parameterType="com.lfs.interfaces.model.dto.ChargeDto"
		resultType="map">
		select tg.channel_num,tg.product_num,tg.end_price,tg.product_cost,tg.channel_price,app.app_name,bs.weight,
		info.adapter_name from lfs_channel_to_product  tg
		left join lfs_channel_to_group bs  on tg.channel_num=bs.channel_num
		left join lfs_channel_info info on bs.channel_num=info.channel_num
		left join lfs_app_info app on app.group_channel_id=bs.channel_group_id
		where app.agt_no=#{agtPhone} and tg.product_num=#{productCode} and  info.channel_st=1 and tg.state=1 and  bs.weight>0
		order by end_price asc
	</select>


	<select id="getChargeAdapter" parameterType="com.lfs.interfaces.model.dto.ChargeDto" resultType="map">
		SELECT
		tg.channel_num,
		tg.product_num,
		tg.end_price,
		tg.channel_price,
		app.app_name,
		bs.weight,
		info.adapter_name
		FROM
		lfs_channel_to_product tg
		LEFT JOIN lfs_channel_to_group bs ON tg.channel_num =
		bs.channel_num
		LEFT JOIN lfs_channel_info info ON bs.channel_num =
		info.channel_num
		LEFT JOIN lfs_app_info app ON app.group_channel_id =
		bs.channel_group_id
		LEFT JOIN lfs_product p ON tg.product_num =
		p.product_num
		WHERE
		app.agt_no = #{agtPhone}
		AND info.channel_st = 1
		AND tg.state = 1
		AND p.state = 1
		AND bs.weight > 0
		<if test="null != productType and '' != productType">
		   AND p.product_type = #{productType}
		</if>
		<if test="null != chargeMoney and '' != chargeMoney">
		   AND p.trade_face = #{chargeMoney}
		</if>
		<if test="null != businessCode and '' != businessCode">
		   and p.business_num = #{businessCode}
		</if>
		ORDER BY end_price ASC
	</select>
</mapper>